<header>

    <a href="/barbeiro/dashboard_barb" class="logo-area">
        <img src="/img/logo.png" alt="Logo do BarberFlow">
        <h1>BarberFlow</h1>
    </a>

    <nav>
        <a href="/barbeiro/dashboard_barb">Dashboard</a>
        <a href="/barbeiro/agenda">Agenda</a>
        <a href="/barbeiro/servicos">Serviços</a>
    </nav>

    <button id="darkToggle">Modo Noturno 🌙</button>

</header>