<header>

    <a href="/" class="logo-area">
        <img src="/img/logo.png" alt="Logo do BarberFlow">
        <h1>BarberFlow</h1>
    </a>

    <nav>
        <a href="/">Início</a>
        <a href="/login">Login</a>
        <a href="/cadastro">Cadastro</a>
    </nav>

    <button id="darkToggle">Modo Noturno 🌙</button>

</header>