<!DOCTYPE html>
<html lang="pt-BR">

<%- include('../partials/header') %>

<body>

    <%- include('../partials/navbar_barbeiro') %>

    <!-- Conteúdo -->
    <main>

        <!-- Título -->
        <section>
            <h2>Gerenciamento de Serviços</h2>
            <p>Configure cortes, preços e funcionamento da barbearia.</p>
        </section>

        <!-- FORM SERVIÇO -->
        <section aria-labelledby="titulo-servico">
            <h2 id="titulo-servico">Adicionar / Editar Serviço</h2>

            <form id="formServico">

                <div class="form-container">

                    <input type="hidden" id="servicoId" name="servicoId">

                    <label for="nomeServico">Nome do corte</label>
                    <input type="text" id="nomeServico" name="nomeServico" required>

                    <label for="precoServico">Preço</label>
                    <input type="number" id="precoServico" name="precoServico" step="0.01" required>

                    <button type="submit">Salvar Serviço</button>

                </div>

            </form>
        </section>

        <!-- TABELA DE SERVIÇOS -->
        <section aria-labelledby="titulo-tabela">
            <h2 id="titulo-tabela">Serviços cadastrados</h2>

            <div class="table-container">

                <table>
                    <caption>Lista de serviços disponíveis</caption>

                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>

                    <tbody id="tabelaServicos" aria-live="polite">

                    </tbody>

                </table>

            </div>
        </section>

        <!-- CONFIGURAÇÃO DE FUNCIONAMENTO -->
        <section aria-labelledby="titulo-config">
            <h2 id="titulo-config">Funcionamento da Barbearia</h2>

            <form id="formConfig">

                <div class="table-container">

                    <table>
                        <caption>Configuração de funcionamento por dia da semana</caption>

                        <thead>
                            <tr>
                                <th scope="col">Dia</th>
                                <th scope="col">Aberto</th>
                                <th scope="col">Início</th>
                                <th scope="col">Fim</th>
                                <th scope="col">Intervalo (min)</th>
                                <th scope="col">Pausa início</th>
                                <th scope="col">Pausa fim</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr>
                                <td>Segunda</td>
                                <td><input type="checkbox" name="segunda_ativo"></td>
                                <td><input type="time" name="segunda_inicio"></td>
                                <td><input type="time" name="segunda_fim"></td>
                                <td><input type="number" name="segunda_intervalo"></td>
                                <td><input type="time" name="segunda_pausa_inicio"></td>
                                <td><input type="time" name="segunda_pausa_fim"></td>
                            </tr>

                            <tr>
                                <td>Terça</td>
                                <td><input type="checkbox" name="terca_ativo"></td>
                                <td><input type="time" name="terca_inicio"></td>
                                <td><input type="time" name="terca_fim"></td>
                                <td><input type="number" name="terca_intervalo"></td>
                                <td><input type="time" name="terca_pausa_inicio"></td>
                                <td><input type="time" name="terca_pausa_fim"></td>
                            </tr>

                            <tr>
                                <td>Quarta</td>
                                <td><input type="checkbox" name="quarta_ativo"></td>
                                <td><input type="time" name="quarta_inicio"></td>
                                <td><input type="time" name="quarta_fim"></td>
                                <td><input type="number" name="quarta_intervalo"></td>
                                <td><input type="time" name="quarta_pausa_inicio"></td>
                                <td><input type="time" name="quarta_pausa_fim"></td>
                            </tr>

                            <tr>
                                <td>Quinta</td>
                                <td><input type="checkbox" name="quinta_ativo"></td>
                                <td><input type="time" name="quinta_inicio"></td>
                                <td><input type="time" name="quinta_fim"></td>
                                <td><input type="number" name="quinta_intervalo"></td>
                                <td><input type="time" name="quinta_pausa_inicio"></td>
                                <td><input type="time" name="quinta_pausa_fim"></td>
                            </tr>

                            <tr>
                                <td>Sexta</td>
                                <td><input type="checkbox" name="sexta_ativo"></td>
                                <td><input type="time" name="sexta_inicio"></td>
                                <td><input type="time" name="sexta_fim"></td>
                                <td><input type="number" name="sexta_intervalo"></td>
                                <td><input type="time" name="sexta_pausa_inicio"></td>
                                <td><input type="time" name="sexta_pausa_fim"></td>
                            </tr>

                            <tr>
                                <td>Sábado</td>
                                <td><input type="checkbox" name="sabado_ativo"></td>
                                <td><input type="time" name="sabado_inicio"></td>
                                <td><input type="time" name="sabado_fim"></td>
                                <td><input type="number" name="sabado_intervalo"></td>
                                <td><input type="time" name="sabado_pausa_inicio"></td>
                                <td><input type="time" name="sabado_pausa_fim"></td>
                            </tr>

                            <tr>
                                <td>Domingo</td>
                                <td><input type="checkbox" name="domingo_ativo"></td>
                                <td><input type="time" name="domingo_inicio"></td>
                                <td><input type="time" name="domingo_fim"></td>
                                <td><input type="number" name="domingo_intervalo"></td>
                                <td><input type="time" name="domingo_pausa_inicio"></td>
                                <td><input type="time" name="domingo_pausa_fim"></td>
                            </tr>

                        </tbody>

                    </table>

                </div>

                <button type="submit">Salvar Funcionamento</button>

            </form>
        </section>

    </main>

    <%- include('../partials/footer') %>

    <script src="/js/servicos.js" defer></script>

</body>
</html>